# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.gz
*.tar
*.zip


# Logs and databases #
######################
*.log
*.sql
*.sqlite


# Various Files #
#################
*.pyo
*.pyc
*~
*.bak
*.BAK
*.old
*.OLD
*.swp

# Directories #
###############
markov_python/
